 * {margin:0; padding:0; text-indent:0; }
            .s1 { color: black; font-family:Cuprum, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 24pt; }
            .a, a { color: black; font-family:Cuprum, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
            .s2 { color: black; font-family:Cuprum, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
            p { color: black; font-family:Cuprum, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; margin:0pt; }
            h1 { color: black; font-family:Cuprum, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
            .h2 { color: black; font-family:Cuprum, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
            .s3 { color: black; font-family:Cuprum, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
            .s4 { color: #727272; font-family:Cuprum, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
            li {display: block; }
            #l1 {padding-left: 0pt; }
            #l1> li>*:first-child:before 
            {content: "● "; color: black; font-family:Cuprum, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
		.inline{display:inline!important}
		.t-black--light{color:rgba(0,0,0,.6)}
		.break-words{overflow-wrap:break-word!important;word-wrap:break-word!important;word-break:break-word!important}
		.text-body-small{font-weight:var(--font-weight-regular)}
		.text-body-small,.text-body-small-bold{font-size:var(--font-size-small);line-height:var(--line-height-default)}
		.text-body-small-bold{font-weight:var(--font-weight-bold)}
	
